langchain
langchain-core
langchain-community

langchain-google-genai
langchain-mistralai
langchain-huggingface

chromadb

sentence-transformers
huggingface-hub

pypdf
pymupdf
unstructured

python-dotenv

streamlit

tiktoken

faiss-cpu

rank-bm25

pandas
numpy

requests

protobuf

einops